{% extends 'layout.html' %}

{% block body %}

<div class="d-flex justify-content-center align-items-center vh-100 bg-light">
    <div class="card p-4 shadow-sm" style="width: 400px;">
        <h1 class="text-center mb-4">Login Form</h1>

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary w-100 mt-3">Login</button>
        </form>
        <a href='{% url "register" %}' class="d-block text-center mt-3">Create account</a>
    </div>
</div>

{% endblock %}
